body {
  // background-image: linear-gradient(180deg,rgba(61, 48, 44, 0),rgba(61, 48, 44, 0.2));
  font-family: "Noto Serif TC", serif;
  color: white;
}

//英文字體
.dancing-script {
  font-family: "Dancing Script", cursive;
}
.noto-sans {
  font-family: "Noto Sans TC", sans-serif;
}

//navbar

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header h1 a {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.header_menu {
  display: flex;
}

.header_menu li a:hover {
  color: #ebebeb;
}
.header_menuMobile {
  display: none;
}
@media (max-width: 576px) {
  .header_menuMobile {
    display: block;
  }
  .header_menu {
    /*隱藏選單*/
    max-height: 0px;
    overflow: hidden;
    /*定位選單*/
    position: absolute;
    z-index: 100;
    /*header高度*/
    top: 76px;
    /*動畫效果*/
    transition: max-height 0.5s;
  }
  .header_menu {
    flex-wrap: wrap;
  }
  /*下拉選單滿版*/
  .header_menu li {
    width: 100%;
  }
}
// @include media-breakpoint-up(md) { }

/*jQ點擊後找到.mobileShow裡的.header_menu,讓.header_menu展開高度*/
.mobileShow .header_menu {
  max-height: 320px;
}

//banner
.z-10 {
  z-index: 10;
}

.form-control {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-size: 16px;
  }

  &::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-size: 16px;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-size: 16px;
  }
}

@include media-breakpoint-up(md){
  .display-md-3{
    font-size: 4rem;
  }
  .display-md-5{
    font-size: 3rem;
  }
} 

@include media-breakpoint-up(lg) {
  .display-lg-7 {
    font-size: 10rem;
  }
  .display-lg-5 {
    font-size: 3rem;
  }
  .form-control {
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
      font-size: 24px;
    }

    &::-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white;
      font-size: 24px;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: white;
      font-size: 24px;
    }
  }
}

//今日價格
.line {
  width: 1px;
  max-height: 100%;
  background-color: white;
  margin: 0 auto;
}

//熱銷商品
.text-originalPrice {
  color: rgba(255, 255, 255, 0.6);
}
//swiper
.hot-products {
  .swiper {
    width: 100%;
  }

  // Slide-ALL
  .swiper-slide {
    //圖片+文字高度
    height: 465px;
    text-align: center;
    //圖片高度
    .swiper-img {
      height: 312px;
    }
  }

  //箭頭設定
  .swiper-button-prev::after {
    content: "\e5cb";
    font-family: "Material Icons";
    font-size: 32px;
    border: 1px solid white;
    border-radius: 32px;
  }
  .swiper-button-next::after {
    content: "\e409";
    font-family: "Material Icons";
    font-size: 32px;
    border: 1px solid white;
    border-radius: 32px;
  }
}
//swiper PC
@include media-breakpoint-up(lg) {
  .hot-products {
    //Slide-1
    .swiper-slide-active {
      //圖片+文字高度
      height: 710px;
    }
    //圖片高度
    .swiper-slide-active .swiper-img {
      height: 555px;
      transition: height 0.2s;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: white;
      width: auto;
      top: 28%;
    }
  }
}

//熱門分類
.bg-gray {
  background-color: rgba(#000000, 0.5);
  width: 100%;
  height: 432px;
  &:hover {
    background-color: rgba(#000000, 0.2);
    transition: background-color, 1s;
  }
  // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

// swiper
.hot-sort {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }
}

//加入會員



//footer
.bg-footer {
  background-color: rgba(#000000, 0.5);
}

//copyright
.bg-copyright {
  background-color: rgba(#000000, 0.85);
}


//priceInformation
//線上黃金回收試算
.bg-brown{
  background-color: rgba(79, 43, 17, 0.1);
}

